@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-fill: 14, 11, 22;
    --color-text: 237, 234, 246;
    --color-primary: 178, 168, 209;
    --color-secondary: 65, 47, 120;
    --color-accent: 110, 79, 206;
    --color-code: 40, 44, 52;
  }
  body {
    @apply flex min-h-[100svh] flex-col bg-skin-fill font-sans text-skin-base
    selection:bg-skin-accent selection:bg-opacity-70 selection:text-skin-inverted;
  }
  footer {
    @apply mx-auto max-w-4xl px-4;
  }
  a {
    @apply outline-2 outline-offset-1 outline-skin-fill
    focus-visible:no-underline focus-visible:outline-dashed;
  }
  svg {
    @apply inline-block size-6 fill-skin-base;
  }
  svg.icon-tabler {
    @apply inline-block size-6 scale-125 fill-transparent
    stroke-current stroke-2 opacity-90 group-hover:fill-transparent 
    sm:scale-110;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-mono;
  }
  .prose {
    @apply prose-headings:!mb-3 prose-headings:!text-skin-base
    prose-h3:italic prose-p:!text-skin-base 
    prose-a:!text-skin-base prose-a:!decoration-dashed prose-a:underline-offset-8
    hover:prose-a:text-skin-accent prose-blockquote:!border-l-skin-accent
    prose-blockquote:border-opacity-50 prose-blockquote:opacity-80
    prose-figcaption:!text-skin-base prose-figcaption:opacity-70
    prose-strong:!text-skin-base

    
    prose-code:rounded prose-code:bg-skin-code
    prose-code:bg-opacity-75 prose-code:p-1 
    prose-code:before:!content-none prose-code:after:!content-none
    prose-ol:!text-skin-base 
    prose-ul:overflow-x-clip prose-ul:!text-skin-base prose-li:marker:!text-skin-accent prose-li:pb-3
    prose-table:text-skin-base prose-th:border
    prose-th:border-skin-line prose-td:border 
    prose-td:border-skin-line prose-img:!my-2 
    prose-img:mx-auto prose-img:border-2 
    prose-img:border-skin-line prose-hr:!border-skin-line;
  }
  .prose a {
    @apply break-words hover:!text-skin-accent;
  }
  .prose thead th:first-child,
  tbody td:first-child,
  tfoot td:first-child {
    padding-left: 0.5714286em;
  }
  .prose h2#table-of-contents {
    @apply mb-2;
  }
  .prose details {
    @apply inline-block cursor-pointer select-none text-skin-base;
  }
  .prose summary {
    @apply focus-outline;
  }
  .prose h2#table-of-contents + p {
    @apply hidden;
  }
  main {
    @apply mx-auto w-full max-w-4xl px-4;
  }

  /* ===== scrollbar ===== */
  html {
    overflow-y: scroll;
  }

  /* width */
  ::-webkit-scrollbar {
    @apply w-3;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    @apply bg-skin-fill;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    @apply bg-primary;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-accent;
  }

  code,
  blockquote {
    word-wrap: break-word;
  }

  pre > code {
    white-space: pre;
  }
}

@layer components {
  .display-none {
    @apply hidden;
  }
  .focus-outline {
    @apply outline-2 outline-offset-1 outline-skin-fill focus-visible:no-underline focus-visible:outline-dashed;
  }
}
