---
import { type CollectionEntry, getEntry } from "astro:content";
import { SITE } from "@config";
import Footer from "@components/Footer.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import ScrollProgressIndicator from "@components/ScrollProgressIndicator.svelte";

const credits: CollectionEntry<"singleton"> = await getEntry(
  "singleton",
  "credits",
);

const { title } = credits.data;
const { Content } = await credits.render();
---

<Layout title={`${title} | ${SITE.title}`} activeNav="credits">
  <ScrollProgressIndicator client:only="svelte" />
  <Main>
    <article id="about" class="prose mb-16 max-w-4xl prose-img:border-0">
      <h1 class="text-2xl tracking-wider sm:text-3xl">{title}</h1>
      <Content />
    </article>
    <div class="flex justify-end pb-12">
      <button
        id="back-to-top"
        class="focus-outline whitespace-nowrap py-1 hover:opacity-75"
      >
        <svg xmlns="http://www.w3.org/2000/svg" class="rotate-90">
          <path
            d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"
          ></path>
        </svg>
        <span>Back to Top</span>
      </button>
    </div>
  </Main>
  <Footer />
</Layout>

<script is:inline>
  /** Scrolls the document to the top when
   * the "Back to Top" button is clicked. */
  function backToTop() {
    document.querySelector("#back-to-top")?.addEventListener("click", () => {
      window.scrollTo({ top: 0, behavior: "smooth" });
    });
  }
  backToTop();
</script>
