---
import type { CollectionEntry } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Footer from "@components/Footer.astro";
import PostCards from "@layouts/PostCards.svelte";
import { SITE } from "@config";
import LayoutArea from "@components/LayoutArea.astro";
import LayoutComponent from "@components/LayoutComponent.astro";
import LinkButton from "@components/LinkButton.svelte";

export interface Props {
  posts: CollectionEntry<"development">[];
}

const { posts } = Astro.props;
---

<Layout title={`Development Posts | ${SITE.title}`} activeNav="developments">
  <Main
    pageTitle="Development"
    pageDesc="Keep Up To Date with Progress at Astro Forge Technologies!"
  >
    <LayoutComponent layout={[1, 1]}>
      <LayoutArea>
        <div style="text-align: center">
          <LinkButton href="/tags" client:load>Sort by Tags</LinkButton>
        </div>
      </LayoutArea>
      <LayoutArea>
        <div style="text-align: center">
          <!--<LinkButton style="text-align: center" href="/authors">Sort by Authors</LinkButton> -->
          <LinkButton href="/authors" disabled={true} client:load
            >Sort by Authors (WIP)</LinkButton
          >
        </div>
      </LayoutArea>
    </LayoutComponent>
    <ul>
      <PostCards posts={posts} />
    </ul>
  </Main>

  <Footer />
</Layout>
